<header class="bar-title">
    <a class="button" href="#!/about">
        <img src="img/about.png">
    </a>
    <div class="title">
        <img src="img/topbar.png">
    </div>
    <a class="button" href="#"><img src="img/logout.png"></a>
</header>

<div class="content">
    <h1>Home</h1>
    <ul>
        <li>
            <a href="#!/messages">
                <img src="img/messages.png">
                <p>Messaging</p>
                <p>Tell us what your doing!</p>
                <div class="action-icon chevron"></div>
            </a>
        </li>
        <li>
            <a href="#voting">
                <img src="img/voting.png">
                <p>Voting</p>
                <p>Seen something cool? Vote for it!</p>
                <div class="action-icon chevron"></div>
            </a>
        </li>
        <li>
            <a href="#activitymonitor">
                <img src="img/activitymonitor.png">
                <p>Activity Monitor</p>
                <p>Get active to try win!</p>
                <div class="action-icon chevron"></div>
            </a>
        </li>
        <li>
            <a href="#schedule">
                <img src="img/schedule.png">
                <p>Schedule</p>
                <p>See whats planned for the day!</p>
                <div class="action-icon chevron"></div>
            </a>
        </li>
    </ul>
</div>
